/**
 * @name Cyberpunk Netrunner PRO
 * @version 4.0.0
 * @description Interface Holographique, Menus Fixés, Animations Fluides.
 * @author LifeStealFR
 * @source https://github.com/LifeStealFR/LifeSteal/blob/main/discord/themes/Cyberpunk/source.css
 * @invite 3vMguzZFbJ
*/

@import url('https://raw.githubusercontent.com/LifeStealFR/LifeSteal/refs/heads/main/discord/themes/Cyberpunk/source.css');

:root {
  /* ==============================================
     1. FOND D'ÉCRAN
     ============================================== */
  --app-bg: url('https://iili.io/qhYTt6u.png');

  /* Flou du fond d'écran (0 = net, parfait pour voir l'image | 10 = flou) */
  --app-blur: 3px; 

  /* ==============================================
     2. GESTION DES VITRES (HUD)
     ============================================== */
  /* Opacité des zones noires. 
     0 = transparent / 1 = complètement noir */
  --main-content-opacity: 0.45;
  --sidebar-opacity: 0.65;

  /* ==============================================
     3. GESTION DES NÉONS (COULEURS)
     ============================================== */
  /* Cyan Principal (Boutons, Salons, Menus) */
  --accent-hue: 188; 

  /* Magenta Alerte (Ping, Messages non lus, Mentions) */
  --alert-hue: 346;  

  /* Jaune Corpo (Barre "Nouveaux messages" dans le chat) */
  --reply-hue: 56;   
}
